<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MysqlEFContainer" connectionString="server=127.0.0.1;user id=root;password=root;database=groundsys_cfg;sslmode=none" providerName="MySql.Data.MySqlClient"/>
    <add name="MysqlHistoryContainer" connectionString="server=127.0.0.1;user id=root;password=root;database=groundsys_history;sslmode=none" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>